*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: font-awesome;
}
/* -------------------
header
--------------------- */
header{
  width: 100%;
  height: 100px;
  /* border: 1px solid red; */
}
nav{
  width: 1200px;
  height: 100px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{

}
.logo h2{
  font-family: poppins, sans-serif;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 24px;
  color: #3A3A3A;
}
.navbar{
  /* border: 1px solid red; */
}

.navbar a{
  display: inline-block;
  margin: 0 18px;
  text-decoration: none;
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #3A3A3A;
  /* border: 1px solid red; */
}
.navbar a:first-child{
  margin-left: 0;
}
.navbar a:last-child{
  margin-right: 0;
}
.fa-solid{
  font-size: 22px;
  /* border: 1px solid red; */
}
/* ---------------------------------------
             Top-header-section
    ------------------------------------------- */

#top_section{
  /* border: 1px solid red; */
}
.flex{
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}
/* ----------------------------header_title--------------------------- */

.text_title{
  width: 50%;
  padding: 0 20px 0 80px;
  /* border: 1px solid red; */
}
.text_title h1{
  font-family: poppins,sans-serif;
  font-size: 50px;
  font-weight: 700;
}
.text_title p{
  font-family: poppins,sans-serif;
  font-size: 16px;
  letter-spacing: .6px;
  font-weight: 500;
}
.text_title a{
  background-color: #E02C6D;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 20px;
  text-decoration: none;
  font-family: inter, sans-serif;
  letter-spacing: .4px;
}
.text_title a .fa-solid{
  display: inline-block;
  font-size: 19px;
}


/* ----------------------------header_img--------------------------- */

.header_image{
  width: 50%;
  height: 100%;
  position: relative;
  /* border: 1px solid red; */
}
.header_image img{
  width: 65%;
  
  /* border: 1px solid red; */
}
.z-index-0{
  position: absolute;
  top: 4px;
  left: 110px;
  z-index: 0;
}
.z-index-1{
  position: absolute;
  top: 4px;
  left: 110px;
  z-index: 1;
}
/* ---------------------------------------
             Logo-Box-section
    ------------------------------------------- */

  .logo_box{
    margin: 50px auto;
    width: 80%;
  }
  .logo_box hr{
    border: 1px solid #D1D1D1;
    opacity: .4;
  }
  .logo_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
  }
/* -------------------------------------------------
             Popular-Collection-section
    ----------------------------------------------- */

  .main_container{
    width: 80%;
    height: 1760px;
    margin: 180px auto;
    
    /* border: 1px solid red; */
  }
  .container{
    width: 100%;
    height: 1550px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    justify-items: center;
    align-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
  }
  .collection_box{
    width: 330px;
    height: 488px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 7px 7px 25px rgb(219, 219, 219);
    /* border: 1px solid red; */
  }
  .collection_box_area{
    height: 100%;
    /* border: 1px solid red; */
  }
  .collection_box_area img{
    width: 100%;

    /* border: 1px solid red; */
  }
/* -----------------title_price----------------- */

  .title_price{
    width: 100%;

    /* border: 1px solid red; */
  }
/* -------------------price----------------------- */

  .title_price h2{
    font-family: poppins,sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
    
    /* border: 1px solid red; */
  }
  .title_price h3{
    font-family: inter,sans-serif;
    font-size: 20px;
    margin-top: 8px;
    font-weight: 600;
    
    /* border: 1px solid red; */
  }
  /* ------------------rating----------------- */
  
    .rating{
      width: 100%;
      height: 40px;
      margin-top: 12px;
      display: flex;
      
      align-items: center;
      /* border: 1px solid red; */
    }
    .rating .star{
      
    }
    .rating .star .fa-solid{
      color: #FB8200;
      font-size: 20px;
    }

  .rating .rate{
    margin-left: 15px;
    font-family: inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .collection_box_area .p{
    font-family: poppins, sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 6px;
    letter-spacing: .8px;
    /* border: 1px solid red; */
  }



  .main{
    
  }